/* IBM Plex Sans Regular */
/* https://noonnu.cc/font_page/448 */
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-ibm {
    font-family: 'IBMPlexSansKR-Regular';
}

@font-face { font-family: 'GongGothicMedium'; src: url('https://github.com/projectnoonnu/noonfonts_20-10/blob/main/GongGothicMedium.woff') format('woff'); font-weight: normal; font-style: normal; }

.font-24 {
    font-family: 'GongGothicMedium';
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-1 {
    font-family: 'KOTRA_BOLD-Bold';
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.font-na {
 font-family: 'Nanum Gothic', sans-serif;
}

// 텍스트 사이즈랑 마진 탑
.text-main {
    font-size: 24px;
    line-height: 28px;
}

.text-sub {
    margin-top: 0.5rem;
    font-size: 14px;
    color: #525252
}